* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 18px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #222;
}
h1, h2, h3 {
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: .5rem;
  text-transform: uppercase;
}
h1 {
  font-size: 3.375rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
a {
  display: inline-block;
  color: #fff;
  transition: all 300ms ease;
  text-decoration: none;
}
a:hover {
  color: #FF4C4C;
}
ul {
  list-style: none;
}
small {
  display: block;
}
img {
  max-width: 100%;
  display: block;
}
figure img {
  margin-bottom: .5rem;
}
footer {
  background: #111;
  padding: 3rem 0;
  text-align: center;
}
footer p {
  margin: .5rem;
}
.fa {
  font-size: 2rem;
}
.jumbo {
  color: #FF4C4C;
  font-size: 3.375rem;
}
.branding {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
}
.section-wrapper {
  padding: 3rem 1rem;
  text-align: center;
  position: relative;
}
.flex-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section--full {
  display: flex;
  min-height: 100vh;
}
#splash {
  background: url("../img/splash_bg.jpeg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}
#splash h3 {
  margin-bottom: 1rem;
}
#about {
  background: #111;
}
#media {
  background: url("../img/media_bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}
/* TODO stop using stupid css masking >:( */
#media:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}
.social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social a {
  display: block;
  padding: .5rem;
}
.container {
  max-width: 54rem;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1rem;
  flex-direction: column;
}
.flex-col {
  flex: 1;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.flex-col:last-child {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  color: #fff;
  padding: 1rem 2rem;
  border: 2px solid #FF4C4C;
  border-radius: 2rem;
  text-transform: uppercase;
  display: inline-block;
}
.btn:hover {
  background: #FF4C4C;
  color: #fff;
}

.yt-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 1rem;
}

.yt-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.media-block {
  margin: 2rem 0;
}
.media-block:last-child {
  margin: 0;
}
.media-block iframe {
  margin-bottom: 1rem;
}

@media(min-width: 48rem) {
  h2 {
    font-size: 3.375rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  .jumbo {
    font-size: 11.391rem;
  }
  #splash, #media{
    background-attachment: fixed;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-col {
    margin: 0;
  }
}